.pokeWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.pokemonli {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black 4px solid;
    box-shadow: black 3px 3px;
    margin: 15px;
    background: white;
    color: black;
    text-decoration: none;
}

.pokemonli:visited {
    color: black;
}

.pokemonli img {
    width: 150px;
    height: auto;
}

.name {
    margin: 0px;
}

h6 {
    margin: 5px;
}

.statsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: left;
}


p {
    margin: 0px;
}

.eggWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: left;
    margin: 10px;
}

.eggWrapper img{
    height: 20px;
    width: auto;
}
