.search {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: aqua;
}

.searchMain {
    width: 100%;
    height: 100%;
    display: grid;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-template-columns: 1fr 6fr;
}

.sidebar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.searchbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    height: 33px;
    margin: 30px 30px 0px 30px;
    border: black 4px solid;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: .9rem;
    text-align: center;
    padding: 5px;
    background: white;
}

button:hover {
    border: orangered 4px solid;
    color: orangered;
}

.searchInput {
    height: 33px;
    width: 150px;
    margin: 30px 30px 15px 30px;
    border: black 4px solid;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: .9rem;
    text-align: center;
    padding: 5px;
}

h2 {
    margin: 5px;
    font-size: 1rem;
    text-align: center;
}

.searchInput:focus {
    border: orangered 4px solid;
}

.pokeSelect {
    margin: 15px;
    border: black 4px solid;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: .9rem;
    text-align: center;
    padding: 5px;
}

.pokeSelect:focus {
    border: orangered 4px solid;
}

.pokeDisplay {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}